xapidocs_95/api_javadocs/XSD/INV_getResourcePoolList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getResourcePoolList_output.xsd" yfc:rootElement="ResourcePools">
        <xsd:appinfo source="yfc:structure">
            <ResourcePools>
                <ResourcePool hasAttributes="Y">
                    <AdditionalCapacityLimitList hasAttributes="Y">
                        <AdditionalCapacityLimit hasAttributes="Y"/>
                    </AdditionalCapacityLimitList>
                </ResourcePool>
            </ResourcePools>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResourcePools" type="yfc:ResourcePoolsXSDType"/>
    <xsd:complexType name="ResourcePoolsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ResourcePool"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ResourcePool">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>
                <div>
				A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (for example, regions serviced and skill sets). Capacity for providing services is maintained against a resource pool.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalCapacityLimitList"/>
            </xsd:all>
            <xsd:attribute name="AllRegionsServiced" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALL_REGIONS_SERVICED" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether all regions are serviced by this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssociateRegionBySlot"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_REGION_BY_SLOT" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The flag indicates whether the resource pool is associated to the regions by using service slots.  Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The calendar that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityInfoAvailable"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_INFO_AVAILABLE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether this resource pool has capacity information available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityMaintainAtResourceLevel"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAP_MAINTAIN_AT_RESOURCE_LEVEL" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether capacity is maintained at the resource level for this resource pool. Default Value is 'N'.  If set to Y, resource pool is allowed to define resources, and Standard and/or Override capacity cannot be defined for the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>
                        <div>
					A Resource Pool is always created wihin the context of a Capacity Organization. An Organization can source services from any Resource Pools within the same Capacity Organization.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_UOM" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unit of measure in which resource pool capacity should be specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:EnumItemGroupCode2" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The type of item that this resource pool services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The node that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderContactAddressKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_CONTACT_ADDRESS_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The provider contact address that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProvidesAllServices"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PROVIDES_ALL_SERVICES" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether all services are provided by this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose"
                type="yfctype:INVResourcePoolPurpose" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This field indicates if the resource pool is used for service or dock scheduling. Default value: SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_DESC" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The desciption of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSupervisorId"
                type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This field represents the supervisor responsible for the reosurce pool.This will be a valid user ID in the system. This user will belong to the node owning the reosurce pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimitList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalCapacityLimit"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Total number of records.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimit">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
            <xsd:documentation>This table contains units of measures that are used as secondary resource pool capacity constraints.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
                    <xsd:documentation>
                        <div>
							The secondary capacity unit of measure in which the resource pool's capacity is additionally limited.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
